
<table>
	<tr>
		<th>TITLE:</th>
		<th>TEXT:</th>
	</tr>
 <% @post.each do |a|%>
	<tr>
		<td><%= a.title %></td>
		<td><%= a.text %></td>
		<td><%= link_to("Delete Post", post_path(a), method: :delete) %></td>
	</tr>
	
 <% end %>
</table>

    <%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>